extends ../layout

block content
  .container
    .col-md-6.mx-auto.text-center
      .header-title
        h1.wv-heading--title
          | Check out &mdash; it&rsquo;s free!
        h2.wv-heading--subtitle
          | Lorem ipsum dolor sit amet! Neque porro quisquam est qui do dolor amet, adipisci velit...
        a(href='/bikes') Back
    .row
      .col-md-4.mx-auto
        .myform.form
          form(action='/bikes/create' method='post')
            .form-group
              input#id.form-control.my-input(type='number' name='id' placeholder='ID')
            .form-group
              input#color.form-control.my-input(type='text' name='color' placeholder='Color')
            .form-group
              input#model.form-control.my-input(type='text' min='0' name='model' placeholder='Model')
            .form-group
              input#lat.form-control.my-input(type='text' min='0' name='latitude' placeholder='Latitude')
            .form-group
              input#lng.form-control.my-input(type='text' min='0' name='longitude' placeholder='Longitude')
            .text-center
              button.btn.btn-block.send-button.tx-tfm(type='submit') Create Your Bike Free Account
           
            