extends ../layout

block content
  section#contact.contact.bg-primary(style='padding: 34px 0;')
    .container
      h2
        | We
        i.fas.fa-heart
        | bikes!
      a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/bikes/create') add new bike!
  section(style='padding: 14px 0;')
    .container
      .row
        .col-md-5.offset-md-4
          .table-container
            table.table.table-filter
              tbody
                each bike in bikes
                  tr
                    td
                      .media
                        a.pull-left.img-bike(href='#')
                          img.media-photo(src='../images/biketable.png')
                        .media-body
                          span.badge.badge-info 
                            = bike.id
                          span.media-meta.pull-right 
                            = bike.color
                          h4.title
                            = bike.model
                          p.summary 
                            = bike.location
                    td
                      form.inline(method='post' action='bikes/'+bike.id+'/delete')
                        input(type='hidden' name='id' value= bike.id)
                        button.link-button(type='submit' name='submit_param' value ='submit_value' class='btn')
                          i.text-danger.fas.fa-trash-alt
                    td
                      a(href= 'bikes/'+bike.id +'/update') 
                        i.text-success.fas.fa-edit

