extends ../layout

block content
  .container
    .col-md-6.mx-auto.text-center
      .header-title
        h1.wv-heading--title
          | Check out &mdash; it&rsquo;s free!
        h2.wv-heading--subtitle
          | Lorem ipsum dolor sit amet! Neque porro quisquam est qui do dolor amet, adipisci velit...
    .row
      .col-md-4.mx-auto
        .myform.form
          form(action=`/bikes/${bike.id}/update` method='post')
            .form-group
              input#id.form-control.my-input(type='number' name='id' placeholder='ID' value=bike.id)
            .form-group
              input#color.form-control.my-input(type='text' name='color' placeholder='Color' value=bike.color)
            .form-group
              input#model.form-control.my-input(type='text' min='0' name='model' placeholder='Model' value=bike.model)
            .form-group
              input#lat.form-control.my-input(type='text' min='0' name='lat' placeholder='Latitude' value=bike.location[0])
            .form-group
              input#lng.form-control.my-input(type='text' min='0' name='lng' placeholder='Longitude' value=bike.location[1])
            .text-center
              button.btn.btn-block.send-button.tx-tfm(type='submit') Update
           
            