extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') BIKERS
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#map') Maps
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bikes') add new bike
  header.masthead
    .container.h-100
      .row.h-100
        .col-lg-7.my-auto
          .header-content.mx-auto
            h1.mb-5
              | Red-Bike
            a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#map') Start Now!
        .col-lg-5.my-auto
          .device-container
            .device-mockup.iphone6_plus.portrait.white
              .device
                .screen
                  // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                .button
                  // You can hook the "home button" to some JavaScript events or just remove it
  section#download.download.bg-primary.text-center
    .container
      .row
        .col-md-8.mx-auto
          h2.section-heading Find out what this is all about!
          a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/bikes') Start Now!

  section.cta#map
    #mapid
  section#contact.contact.bg-primary
    .container
      h2
        | We
        i.fas.fa-heart
        |         new bikers-friends!
  // Bootstrap core JavaScript
  script(src='/javascripts/jquery.js')
  script(src='/javascripts//bootstrap.js')
  // Plugin JavaScript
  script(src='/javascripts/jquery.easing.js')
  // Custom scripts for this template
  script(src='/javascripts/new-age.js')
  script(src='/javascripts/map.js')

